
<form class="container" style="max-width:400px" >
    <div>
    
        <h1>WELCOME TO PROFILE</h1>
    
        USERNAME:<input type="text" class="form-control" placeholder="enter username" ng-model="updateform.username"/><br><br>
        PASSWORD:<input type="text" class="form-control" placeholder="enter password" ng-model="updateform.password"/><br><br>
        FIRSTNAME:<input type="text" class="form-control" placeholder="enter firstname" ng-model="updateform.firstname"/><br><br>
        LASTNAME:<input type="text" class="form-control" placeholder="enter lastname" ng-model="updateform.lastname"/><br><br>
        EMAIL:<input type="text" class="form-control" placeholder="enter email id" ng-model="updateform.email"/><br><br>
        LOCATION:<input type="text" class="form-control" placeholder="enter location" ng-model="updateform.location"/><br><br>
        PHONE:<input type="text" class="form-control" placeholder="enter phno." ng-model="updateform.phone"/><br><br>

        <input type="button" value="update" class="btn btn-primary" ng-click="update()"/>

    </div>

</form>