
<form class="container" style="max-width:400px" >
<h1>REGISTRATION PAGE</h1>
<div>
        USERNAME:<input type="text" ng-model="registerform.username"  class="form-control" placeholder="enter username" /><br><br>
        PASSWORD:<input type="text" ng-model="registerform.password"  class="form-control" placeholder="enter password" /><br><br>
        FIRSTNAME:<input type="text" ng-model="registerform.firstname"  class="form-control" placeholder="enter firstname" /><br><br>
        LASTNAME:<input type="text" ng-model="registerform.lastname"  class="form-control" placeholder="enter lastname" /><br><br>
        EMAIL:<input type="text" ng-model="registerform.email"  class="form-control" placeholder="enter email" /><br><br>
        LOCATION:<input type="text" ng-model="registerform.location"  class="form-control" placeholder="enter location" /><br><br>
        PHONE NUMBER:<input type="text" ng-model="registerform.phone"  class="form-control" placeholder="enter ph.no" /><br><br>

       
        <input type="button" value="register" class="btn btn-primary" ng-click="register()" />

</div>

</form>
